/**********************************************
Base Elements  
**********************************************/

* {
    box-sizing: border-box;
}

body {
    /* Trying to add background image to MeetTheExperts Page (still tagged in html) */
    background-image: url('../../img/abellbackground.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    color: #cccccc;
    line-height: 1.6em;
    color: black;
    font-family: 'Helvitica', sans-serif;
    
}

p,
li {
    font-size: .95em;
    margin-bottom: 1.8em;
}

h2 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
    padding-bottom: .5em;
}

a:hover {
    color: red;
}

img {
    max-width: 100%;
}

main-footer {
    color: white;
}


/***********************************************
 ID  
 ************************************************/

#sideh2 {
    margin-top: 1em;
}


/**********************************************
Base Class Styles 
**********************************************/


/****************
 Navigation 
 ****************/

.name {
    font-size: 1.6em;
    margin: 0;
}

.main-nav {
    margin-top: 0;
    height: 40px;
    font-size: 1.1em;
    font-weight: bold;
    display: block;
}

.name,
.main-nav a {
    display: block;
    text-align: center;
}

.main-nav a {
    font-size: .95em;
    color: black;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: #fff;
    background-color: #CE0505;
}


/**********************************************
Containers
**********************************************/




.main-footer {
    text-align: center;
}

.col {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1.8em;
}

.primary,
.secondary {
    width: 80%;
}

.main-footer,
.main-footer a {
    background-color: #000;
    color: white;
    padding: .2em 0;
    margin-top: -10px;
}


/* Page Elements  */

.logo {
    width: 190px;
}

.headline {
    margin-bottom: 0;
}


/**********************************************
Media Queries 
**********************************************/

@media screen and (min-width: 1200px) {
    body {
        padding-top: 68px;
    }
    .main-header {
        position: fixed;
        background: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    .container {
        width: 90%;
        margin: 0 auto;
        padding: .5em;
    }
    .name,
    .col {
        float: left;
    }

    .primary,
    .secondary,
    {
        width: 80%;
    }
    .main-nav {
        display: block;
    }
    .main-nav li {
        display: inline-block;
        margin-left: 15px;
    }
    .tagline {
        font-size: 1.4em;
    }
    /* ---- Float clearfix ---- */
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
}

/****************
850px
 ****************/

@media screen and (min-width: 850px) {
    body {
        padding-top: 68px;
    }
    .main-header {
        position: fixed;
        background: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    .container {
        width: 90%;
        margin: 0 auto;
        padding: .5em;
    }
    .name,
    .col {
        float: left;
    }
    
    .primary,
    .secondary,
    {
        width: 80%;
    }
    .main-nav {
        display: block;
    }
    .main-nav li {
        display: inline-block;
        margin-left: 15px;
    }
    .tagline {
        font-size: 1.4em;
    }
    /* ---- Float clearfix ---- */
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
}


/****************
 600px
 ****************/


@media (min-width: 600px) {
    .container {
        width: 80%;
        max-width: 1150px;
        margin: 0 auto;
        margin-top: 1em;
    }

 

    .name,
    .main-nav a {
        display: block;
        text-align: center;
        padding: .5em .5em;
    }
    .primary,
    .secondary {
        width: 80%;
    }
    .contact {
        width: 50%;
    }
}

.logo {
    display: block;
    max-width: 200px;
    margin: 3em auto;
    width: 90%;
}