

 /* ID Selectors */
 #contact {
    height: 0; 
}

/* Navigation */
.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
  }


  /* Jumbotron Header Image */
  .jumbotron {
  margin-bottom: 0px;
  background-image: url('../img/abellbg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(15, 15, 15);
  text-shadow: rgb(0, 0, 0).3em 0.3em 0.3em;
  }


  /* Background Image  */
	
.backwrap {
    position: relative;
 }

 .backwrap:after {
     content : "";
     display: block;
     position: fixed;
     top: 0;
     left: 0;
     background-image: url('../../img/mainbg.jpg');
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;
     opacity: .7;
     z-index: -1;
 }

/* Container Background For Better Visibility */

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
}