/* .logo {
    display: block;
    
    max-width: 190px;
    margin: 0 auto;
    margin-top: 0; 
    width: 90%;
} */
/* 
.jumbotron {
    position: relative;
    background: url("abellbackground.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
} */

/* .backwrap {
background-image: url('../../img/abellbackground.jpg'); 
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
color: #000;
} */

	
.backwrap {
    position: relative;
 }

 .backwrap:after {
     content : "";
     display: block;
     position: fixed;
     top: 0;
     left: 0;
     background-image: url('../../img/abellbackground.jpg');
     width: 100%;
     height: 100%;
     opacity: 0.8;
     z-index: -1;
 }

 #contact {
     height: 0; 
 }